[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=TcPlay Mount
ToolbarLabel[en]=TcPlay Mount
ToolbarLabel[C]=TcPlay Mount
Name[en_US]=TcPlay Mount
Name[en]=TcPlay Mount
Name[C]=TcPlay Mount
Profiles=profile-zero;
Icon=mb-tcplayui

[X-Action-Profile profile-zero]
Exec=/opt/madebits-tcplayui_1.0.0/tcplayui.sh %f
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
SelectionCount==1
MimeTypes=all/allfiles
